<div class="row">
	<div class="backPic2 col-xs-12 {{roomClass}}">
		<div class="animated fadeIn" id="slowFade">
			<div class="frame col-xs-12 {{frameClass}}">
				<div class="col-xs-4 col-xs-offset-5">
					<h1>{{username}}</h1>
				</div>
				<div class="gameTwo col-xs-10 col-xs-offset-1">
		        	<span style="color: gray;">{{text}}</span>
		        	<span style="font-family: 'Monotype Corsiva';">{{text}}</span>
				</div>
				<a href={{path}}><div class="btn btn-default col-xs-3 col-xs-offset-3 {{button1}}" value="{{button1}}" type="Submit"></div></a>
				<a href={{path}}><div class="btn btn-default col-xs-3 {{button2}}" value="{{button2}}" type="Submit"></div></a>
		    </div>
		</div>
	</div>
</div>